.vehicleSearch {
    max-width: 1100px;
    padding: 70px 30px;
}

.content{
    max-width: 1920px;
    background-color: #fff;
    margin: 0 auto;
}



@media (max-width: 599px) {
    img {
        margin-left: -5px;
        margin-top: 30px;

    }

    .hqt-img {
        height: 140px;
        width: 110px;
        padding-left: 10px;
    }

    .hqt-width {
        width: 340px !important;
    }

    h1 {
        font-size: 30px;
        line-height:40px;
        padding-bottom: 30px;
    }

    .left-content {
        width: 59%;
    }

    .right-content {
        width: 31%;
        overflow: hidden;
    }

    .vehicleSearch {
        padding: 50px 0px;
        justify-content: space-between;
    }
    .vehicle-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brand-list a {
        flex-basis: calc(50% - 32px);
    }
    
    .tesla, .Jeep, .Toyota, .Honda, .Audi, .Bmw {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hqt, .bme, .drty{
        display: flex;
    }
    .hq-text, .bme-text, .drty-text {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 30px;

    }
    .section1, .section2, .section3, .section4{
        /* min-width: 50%; */
        margin: 5px;
    }
    
}


@media (min-width: 600px) and (max-width: 959px) {
    .tesla, .Jeep, .Toyota, .Honda, .Audi, .Bmw {
        height: 100px;
    }

    .brand-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .brand-list a {
        flex-basis: calc(30% - 10px);
    }

    .section1, .section2, .section3, .section4{
        /* min-width: 50%; */
        padding: 10px;
        margin: 10px;
        width: 45%;
    }

    .vroom-values {
        width: 100%;
    }

    .vroom-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    h1 {
        font-size: 30px;
        line-height:40px;
    }

    .left-content {
        width: 59%;
    }

    .right-content {
        width: 31%;
        overflow: hidden;
    }

    .vehicleSearch{
        justify-content: space-between;
        padding: 70px 0;
    }

    .vehicle-type {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .vehicle-type a {
        margin: 20px;
    }

    .hqt, .bme, .drty {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 600px;
        align-items: center;
    }

    .hqt-img {
        height: 140px;
        width: 110px;
        padding-left: 10px;
    }

    .hqt-width {
        width: 300px !important;
    }
    .hq-text, .bme-text, .drty-text {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }
    .shop-vehicles-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .shop-vehicles-wrapper button {
        margin: 0 auto;
    }

}


@media (min-width: 960px) {
    h1 {
        font-size: 50px;
        line-height:40px;
        padding-bottom: 40px;
    }
    .vehicleSearch{
        max-width: 1120px;
        margin: 0 auto;
    }
    .left-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }

    .right-content {
        width: 50%;
        overflow: visible;
        padding-left: 70px;
    }

    .vehicle-type {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .vehicle-type a {
        margin: 20px;
    }
    .hqt, .bme, .drty {
        display: flex;
        flex-direction: row;
        max-width: 300px;
        width: 33%;
    }
    .hqt-img {
        height: 140px;
        width: 110px;
        padding-left: 10px;
    }
    .shop-vehicles-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    .buy-now-btn {
        width: 500px;
    }

    .section1, .section2, .section3, .section4{
        /* min-width: 50%; */
        margin: 2px;
        width: 45%;
    }

    .vroom-values {
        width: 100%;
    }

    .vroom-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 150px;
        margin-top: -90px;  
    }
    .tesla, .Jeep, .Toyota, .Honda, .Audi, .Bmw {
        height: 100px;
    }

    .brand-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .brand-list a {
        flex-basis: calc(30% - 10px);
    }
}